<div class="container mt-3">
  <mat-card>
    <mat-card-title>Crear Clientes</mat-card-title>
    <form [formGroup]="clienteForm" (ngSubmit)="OnSubmit()">
      <mat-form-field ngClass="d-block">
        <mat-label>Nombre del Cliente</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <mat-form-field ngClass="d-block">
        <mat-label>Apellido del Cliente</mat-label>
        <input matInput formControlName="apellido">
      </mat-form-field>

      <mat-form-field ngClass="d-block">
        <mat-label>Direccion del Cliente</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>

      <mat-form-field ngClass="d-block">
        <mat-label>Telefono del Cliente</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" [disabled]="!clienteForm.valid">Crear Nuevo Cliente</button>
      </div>
    </form>
  </mat-card>
</div>
